:root {
  --main-color-100: rgba(0, 30, 56, 1);
  --main-color-60: rgba(0, 30, 56, 0.6);
  --main-color-40: rgba(0, 30, 56, 0.4);
  --main-color-30: rgba(0, 30, 56, 0.3);
  --main-color-10: rgba(0, 30, 56, 0.1);
  --main-color-03: rgba(0, 30, 56, 0.03);
  --white-100: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --accent-color-100: rgba(120, 40, 108, 1);
  --error-color-100: #f44336;
  --contrast-background-color-100: rgba(0, 41, 76, 1);
  --contrast-background-color-80: rgba(0, 41, 76, 0.8);
  --quick: 0.3s;
  --slow: 1s;
  --smooth: cubic-bezier(0.28, 0.11, 0.32, 1);
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Common and general-purpose styles */

html {
  margin-left: calc(100vw - 100%); /* fix jumping scrollbar */
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--main-color-100);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 37.5px;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--main-color-10);
}

p {
  margin: 16px 0;
  line-height: 24px;
}

a {
  color: var(--accent-color-100);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color-100);
  text-decoration: underline;
}

input[type="text"] {
  outline: 0;
  flex-grow: 1;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  margin: 16px 0;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid var(--main-color-40);
  border-radius: 3px;
  color: var(--main-color-100);
}
input[type="text"]::placeholder {
  color: var(--main-color-30);
}

button {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  height: 36px;
  border-radius: 3px;
  padding: 0 20px;
  outline: 0;
  border: none;
  background-color: var(--contrast-background-color-100);
  color: var(--white-100);
  transition: all var(--quick) var(--smooth);
}
button + button {
  margin-left: 10px;
}
button:hover:enabled,
button:focus:enabled {
  background-color: var(--main-color-100);
  color: var(--white-80);
}
button:active:enabled {
  color: var(--white-100);
}
button:disabled {
  background-color: var(--main-color-60);
}

.fade-in {
  animation-name: fade-in-animation;
  animation-duration: var(--quick);
  animation-timing-function: var(--smooth);
}

.fade-in-slow {
  animation-name: fade-in-animation;
  animation-duration: var(--slow);
  animation-timing-function: var(--smooth);
}

/* Reusable components */

.error {
  color: var(--error-color-100);
  margin: 20px;
}

.no-results {
  color: var(--main-color-40);
}

/* Main page */

.app-container {
  width: calc(100vw - 30px);
  max-width: 400px;
  padding: 20px 15px 10px;
}

/* Search page */

.search-results > * {
  padding: 12px;
  border-radius: 3px;
  transition: all var(--quick) var(--smooth);
}

.search-results > *:hover {
  background-color: var(--main-color-03);
}

.book {
  display: flex;
}

.book__cover {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 12px;
}

.book__cover img {
  width: 44px;
  height: 67px;
  object-fit: cover; /* prevent covers from distorting */
  border-radius: 2px;
  background-color: var(--main-color-10); /* visible in case of invalid urls or during loading */
}

.book__title {
  margin: 0;
}

.book__author {
  margin: 5px 0 0 0;
  color: var(--main-color-60);
  font-size: 13px;
}

/* Editor page */

.author-input__container {
  display: flex;
  flex-direction: column;
  height: 240px;
  margin-bottom: 16px;
}

.author-input__container .search-results {
  flex-grow: 1;
  overflow-y: auto;
}

.existing-author {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.existing-author button {
  margin-left: 10px;
}

.editor__buttons {
  display: flex;
  justify-content: space-between;
}
